<div class="navbar">
  <h1>Girl Develop It San Diego</h1>
  <hr>
  <br>

<header class="navbar navbar-fixed-top">
  <div class="container">
<!--     <img ng-src="images/gdi-logo.png">
 -->    <nav class="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref="gdisd.books" ui-sref-active="active">Book Club</a></li>
        <li><a href="#" ui-sref="gdisd.classes" ui-sref-active="active">Classes</a></li>
        <li><a href="#" ui-sref="gdisd.meetups" ui-sref-active="active">Meetups</a></li>
      </ul>
<!--       <ul>
        <li>
          <a target="_blank" href="https://twitter.com/girldevelopit" aria-label="GDI Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.facebook.com/girldevelopit" aria-label="GDI Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
     
<br>

<div ui-view> 

<h2>Girl Develop It is a nonprofit organization that exists to provide affordable and judgment-free opportunities for women interested in learning web and software development. Through in-person classes and community support, Girl Develop It helps women of diverse backgrounds achieve their technology goals and build confidence in their careers and their every day lives.</h2>

</div>

<br>
<hr>

<!-- <footer class="footer">
  <div class="container">
    <div class="footer">
      <p class="subtitle">To learn about ways to support Girl Develop It, email us at:  sponsorships@girldevelopit.com or visit our Donate page.</p>

      <nav class="navigation">
        <a href="#" ui-sref="home.bookclub" ui-sref-active="active">Book Club</a>
        <a href="#" ui-sref="home.bookclub" ui-sref-active="active">Book Club</a>
        <a href="#" ui-sref="home.meetups" ui-sref-active="active">Meetups</a>
      </nav>
      <nav class="navigation">
        <a target="_blank" href="https://twitter.com/girldevelopit" aria-label="GDI Twitter"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/girldevelopit" aria-label="GDI Facebook"><i class="fa fa-facebook"></i></a>
      </nav>
    </div>
  </div>
</footer> -->


