<br>
<br>
<br>
<br>
<br>
<div class="navbar" style="text-align:center">
    <h1><img src="../../assets/flourish.png"><a href="#" ui-sref="gdisd">Girl Develop It San Diego</a></h1>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
  <!--     <img ng-src="images/gdi-logo.png">
   --> <nav class="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="http://girldevelopit.com/" target="_blank"><img alt="Girl Develop It" height="60" ng-src="../../assets/gdi-logo.png" id="logo"></a></li>
          <li><a href="#" ui-sref="gdisd.books" ui-sref-active="active">Book Club</a></li>
          <li><a href="#" ui-sref="gdisd.meetups" ui-sref-active="active">Meetups</a></li>
          <li><a href="#" ui-sref="gdisd.jobs" ui-sref-active="active">Job Postings</a></li>          
          <li><a href="#" ui-sref="gdisd.contact" ui-sref-active="active">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
       
  <br>

  <div ui-view> 

  <h3 >About Girl Develop It:<h3> 

  <h4><a href="https://www.girldevelopit.com/">Girl Develop It</a> is a national nonprofit organization that exists to provide affordable and accessible programs to women who want to learn web and software development through mentorship and hands-on instruction.

  Our vision is to create a network of empowered women who feel confident in their abilities to code and build beautiful web and mobile applications. By teaching women around the world from diverse backgrounds to learn software development, we can help women improve their careers and confidence in their everyday lives.</h4><br><br><br>
  <h3>Our Local Sponsors:</h3>

    <a ng-href="http://www.qualcomm.com" target="_blank"><img alt="Qualcomm" height="80" ng-src="../../assets/qualcomm.png"></a>
    <a ng-href="http://www.devbootcamp.com"  target="_blank"><img alt="Dev Bootcamp" height="80" ng-src="../../assets/devbootcamp.png"></a>
    <a ng-href="http://www.mitchell.com/" target="_blank"><img alt="Mitchell" height="80" ng-src="../../assets/mitchell-logo.gif"></a>
    <a ng-href="http://herahub.com/" target="_blank"><img alt="Hera Hub" height="80" ng-src="../../assets/hera-hub-logo.jpg"></a>
  </div>
<br><br><br>



