@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700");

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
$mainfont: "Roboto";

//Colors
#f95a61: #f95a61;
$black: #282828;
$blush: #fbcfc6;
#d8ae64: #d8ae64;
$green: #074232;
$gray: #2d2e2e;
#e4e9e5: #e4e9e5;
$navy: #2a4758;
$white: #ffffff;
$linkcolor: #00838C;*/

/*$mobile: new-breakpoint(max-width 420px 4);*/

/*layout syle*/


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*ADDED IN*/

.btn:focus {
  outline: none;
}

.book {
  margin-bottom: 40px;
}

li.book > aside p.rating {
  color: #7A292A;
  font-size: 1.2em;
}

.book .rating.goodRating {
  color: #499130;
}

book-cover {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.live-preview {
  float: right;
  width: 48%;
  margin-left: 0;
  margin-right: 0;
}

.live-preview > aside, li.book > aside {
  padding: 0;
}

.live-preview > aside img, li.book > aside img {
  width: 100%;
}

.live-preview > aside p, li.book .rating {
  margin: 0 5%;
  padding: 0.1em;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0 0 0.5em 0.5em;
  border-top-width: 0;
  color: #888;
  font-size: 0.8em;
  text-align: center;
}

.live-preview > aside + div > h3, li.book > aside + div > h3 {
  margin-top: 0;
}

.live-preview > aside + div li, li.book > aside + div li {
  float: left;
  margin-right: 1px;
}

.input-container {
  float: left;
  width: 48%;
}

form[name="reviewForm"] {
  overflow: hidden;
}

label{
  margin-right: 15px;
}

.button-from-hell {
  padding: 0;
}

.button-from-hell button {
  float: right;
}

div.genre {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
}

.genre-label {
  float: left;
  width: 50%;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow:ellipsis;
  text-tranform: capitalize;
  white-space: nowrap;
}

.genre-label:hover {
  border-color: #ddd;
  color: #888;
}

.genre-label:active {
  border-color: #999;
  color: #222;
}

@media (max-width: 768px) {
  .input-container, .live-preview {
    float: none;
    width: 90%;
    margin: 0 auto;
  }

  div.genre {
    width: 100%;
    padding: 0;
  }

  .live-preview > aside, li.book > aside {
    float: left;
    width: 25%;
    margin-right: 15px;
  }

  li.book {
    margin-left: 0;
    margin-right: 0;
  }
}