<h1>Job Board</h1>

<a href="#" ui-sref="gdisd.newjobs" ui-sref-active="active" ng-show="#"><button class="btn btn-primary control-label">Post A Job</button></a><hr>

  <div>
    <ul class="list-unstyled">
      <li ng-repeat="job in ctrl.jobs">
        <hr>
          <h4><a href="{{job.url}}" target="_blank">{{job.job_title || "No job postings available yet."}}</a></h4>
          <a href ng-show="#" ng-click="ctrl.deleteJob(job)">Delete Post</a> 
      </li>
    </ul>
  </div><br><br><br><br><br><br><br>

