<!DOCTYPE html>
<html>
<head>
  <title>GDISD</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
</head>
<body ng-app="app" class="app">

  <div ui-view class="container">
    <ui-view></ui-view>
  </div>
<footer class="footer">
  <div class="wrap">
    <div class="footer">
      <p class="subtitle">To learn about ways to support Girl Develop It, email us at: <a ng-href="mailto:sponsorships@girldevelopit.com" target="_top">sponsorships@girldevelopit.com</a> or visit our <a ng-href="https://www.girldevelopit.com/donate" target="_blank">Donate</a> page. This website was created for the San Diego chapter.</p>
    </div>
  </div>
</footer>
</body>
</html>
